* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: 2px #000000 dotted; */
}
body {
    font-family: "Anton", sans-serif;
    line-height: 1.5;
    
}

/* HEADER */
header {
    background-color: #0088e0;
}
.caja {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #fbf3ef;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    text-shadow: 3px 3px #000000;
}
/* FIN HEADER */
nav a:hover {
    color: gold;
}

/* Productos */
.productos {
    width: 80%;
    /* position: relative; */
    margin: 0 auto;
    padding: 30px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /* background-color: grey; */
    margin: 5% 1.5%;
    padding: 20px 10px;
    border: 2px solid #000000;
    border-radius: 25px;
}

.productos li:hover {
    border-color: #0088e0;
}

.productos li:active {
    border-color: #fbf3ef;
}

.productos li:active .producto-tipo {
    font-size: 2.1rem;
}

li img {
    width: 90%;
}
/* H2 */
.producto-tipo {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
}

.producto-descripcion {
    font-size: 1.2rem;
}

.producto-precio {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(../img/Servicios/bg.jpg);
    padding: 25px;
}
footer .copyright {
    color: #fbf3ef;
    font-size: 1rem;
    margin: 1rem;
}
/* --------------------------------------------------- */
/* configurando CONTACTO.html */

#contacto-principal {
    width: 70%;
    margin: auto;
}

#contacto-form {
    /* display: inline-block; */
    margin: 10px 0;
}

.contacto-form label,
fieldset legend {
    display: block;
    font-size: 1.2rem;
    margin: 5px 0 5px;
}

.input-padron {
    display: block;
    margin: 5px 0;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
}

div #checkbox {
    margin: 20px 0;
}

.enviar {
    width: 80%;
    background-color: gold;
    border: 1px solid #000000;
    font-size: 2rem;
    font-weight: bold;
    color: #0088e0;
    border-radius: 5px;
    margin: 10px 0 20px;
    padding: 5px;
    transition: 2s all;
}

.enviar:hover {
    /* transition: 2s color; */
    color: #fbf3ef;
    background-color: goldenrod;
    transform: scale(1.2);
}

table {
    border-radius: 25px;
    margin-bottom: 30px;
}
thead {
    background-color: #0088e0;
    font-size: 1.5rem;
    font-weight: bold;
}

th,
td {
    font-size: 1.2rem;
    border: 1px solid #000000;
    padding: 5px 10px;
}

/*------------Inicio de CSS index.html--------------- */

#banner {
    display: block;
    width: 100%;
    height: 100%;
}

.principal {
    text-align: center;
    clear: left;
    background: linear-gradient(45deg, #0088e0, #fbf3ef, #e24c3b);
    padding: 3em 0;
    
}
.principal-contenido {
    margin: 0 auto;
    width: 70%;
}

.tituloPrincipal {
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
}

.utensilios {
    width: 8em;
    float: left;
    border-radius: 20px;
    border: #000000 solid 2px;
}

.principal strong {
    font-weight: bold;
}

.principal #mision {
    font-style: italic;
}

.principal p {
    /* margin: 0 0 1em; */
    font-size: 1.2em;
}
/* ------------Section iFrame mapa----------------- */
.mapa {
    text-align: center;
    background: linear-gradient(120deg, #0088e0, #fbf3ef, #e24c3b);
    padding: 2em 0;
}
.mapa-contenido {
    width: 70%;
    margin: 0 auto;
}
.mapa p {
    margin-bottom: 20px;
}

/* ------------Section Diferenciales-------------- */

.diferenciales {
    padding: 3em 0;
    background: linear-gradient(120deg, #0088e0, #fbf3ef, #e24c3b);
}
.contenido-diferenciales {
    width: 50%;
    margin: 0 auto;
}
.diferenciales h3 {
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
}
.ul-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.items {
    line-height: 2;
    font-size: 1.2em;
}
.items:before{
    content: "💈";
}
.items:first-child {
    font-weight: bold;
}

.imgDiferenciales {
    width: 50%;
    transition: 400ms;
    box-shadow: -5px 5px 2px 0px #000000;
}
.imgDiferenciales:hover{
    opacity: 0.3;
    transition: 400ms;
}
.video {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 3em 0;
}

@media screen and (max-width:480px) {
    *{
    }
    .caja{
        text-align: center;
    }
    .caja nav{
        position: static;
    }
    .caja img{
        height: 150px;
    }
    .principal,.principal-contenido, .mapa,.mapa-contenido, .diferenciales,.contenido-diferenciales, .video, footer{
        width: auto;
    }
    .ul-diferenciales, .contenido-diferenciales img{
        width: 100%;
        text-align: center;
        box-shadow: none;
    }
}